body{
	background-color: #1f2833;
	height: auto;
}
#container{
	background-color: #1f2833;	
	margin: auto;
	width: 1600px;
	padding: 3px;
	padding-bottom: 10px;
	border: 5px solid #66fcf1;
	border-radius:7px;
	height: auto;
}
#container img{
	border: 1px solid black;

}	
#buttons{
	border: 1.5px solid #66fcf1;
	background-color: #1f2833;
	width: 1547px;
	height:16px;
	font-family: "Times New Roman", Times, sansserif;
	border-radius: 7px;
	padding: 15px 25px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	display: block;
	}
#buttons a{
	color: black;
	font-size: 20px;
	padding: 5px 30px;
	text-decoration: none;
	border-radius:12px;
	color: #66fcf1;
}
#buttons a:hover {
    background-color: yellow;
}
#buttons a:active {
  background-color: #ffff99;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#quote{
	margin-top:2px;
    width: 1280px;
	padding-top:2px;
}
#quote img{
	width:1593px;
	height:170px;
	border:3px solid #66fcf1;
	border-radius: 7px;
	margin-left: 0.5px;
}
#imahes{
	background-color:#1f2833;
	margin:2px;
	margin-bottom:5px;
    width: 1550px;
	padding-bottom: 30px;
	border: 5px solid #66fcf1;
	border-radius: 7px;
	margin-left: 20px;
}
#imahes img{
	margin-top: 2px;
	margin-left: 200px;
	border:3px solid #66fcf1;
	width: 600px;
	height:400px;
}
#imahes img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	background-color: #66fcf1;
	opacity: 0.5;
}
#imahes p{
	font-family: "Courier New", monospace;
	font-style: oblique;
	font-weight: 900;
	font-size: 25px;
	margin-left: 230px;
	border: 2px solid #1f2833;
	margin-bottom: -30px;
	background-color: #45a29e;
	color:#1f2833;
}
#imahes .imgLeft{
	margin-top: 75px;
	padding: 3px;
	border-radius: 3px;
}
#imahes .imgRight{
	margin-top: 75px;
	padding: 3px;
	border-radius: 3px;
}
#footquote{
	margin-top: 35px;
	padding: 2px;
}
#footquote img{
	width:1490px;
	height:140px;
	border:3px solid #66fcf1;
	border-radius: 7px;
	margin-left: 25px;
}
.container a{
	font-family: "Courier New", monospace;
	font-style: oblique;
	font-weight: 900;
	border: 10px;
	background-color: #45a29e;
	color: #1f2833;
	border-radius: 5px;
	padding: 5px;
	margin-top: 3px;
	margin-bottom:10px;
	margin-left: 27px;
}
.container a:hover {
    background-color: yellow;
}
.container a:active {
  background-color: #ffff99;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
footer #footer p{
	border: 2px ;
	background-color: #45a29e;
	color: #1f2833;
	font-size: 15px;
	margin-left: -.5px;
	border-radius:3px;
}
	


	


		
