body {
    background: url("background 6.png") no-repeat center fixed; 
    background-size: cover;
    color: cyan;
    font-family: "Courier New";
    text-shadow: 1px 1px hotpink;
}

h1 {
    font-family: "Helvetica";
    color: aqua;
    text-shadow: 1px 1px lightpink;
}

h2{
    font-family: "Verdana";
    color: aqua;
    text-shadow: 1px 1px lightpink;
}

h3 {
    font-family: "Verdana";
    color: aqua;
    text-shadow: 1px 1px lightpink;
}

h6 {
    text-align: center;
    color: aqua;
    font-size: 12px;
    text-shadow: 1px 1px lightpink;
}

#content {
    text-align: left;
    font-family: "Verdana";
    font-size: 50px;
}

#buttons {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li a {
    color: white;
    text-shadow: 1px 1px green;
}

li a.one:hover{
    background-color: grey;
    color: black;
}

li a.two:hover{
    background-color: grey;
    color: black;
}

li a.three:hover{
    background-color: grey;
    color: black;
}

li a.Four:hover{
    background-color: grey;
    color: black;
}

li a.Five:hover{
    background-color: grey;
    color: black;
}

li a.one{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.two{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a.three{
  float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.Four{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.Five{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mySlides {
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 25%;
    height: 25%;

}

.mySlides:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
    color: aqua;
    text-shadow: 1px 1px lightpink;
}

