body{
	background-color: #1f2833;
	height: auto;
}
#container{
	background-color: #1f2833;	
	margin: auto;
	width: 1600px;
	padding: 3px;
	padding-bottom: 10px;
	border: 5px solid #66fcf1;
	border-radius:7px;
	height: auto;
	margin-bottom: -10px;
}
#container img{
	border: 1px solid black;

}	
#buttons{
	border: 1.5px solid #66fcf1;
	background-color: #1f2833;
	width: 1547px;
	height:16px;
	font-family: "Times New Roman", Times, sansserif;
	border-radius: 7px;
	padding: 15px 25px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	display: block;
	}
#buttons a{
	color: black;
	font-size: 20px;
	padding: 5px 30px;
	text-decoration: none;
	border-radius:12px;
	color: #66fcf1;
}
#buttons a:hover {
    background-color: yellow;
}
#buttons a:active {
  background-color: #ffff99;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#slulogo{
	margin-top:2px;
    width: 1280px;
	padding-top:2px;
}
#slulogo img{
	width:1593px;
	height:200px;
	border:3px solid #66fcf1;
	border-radius: 7px;
	margin-left: 0.5px;
}
#content{
	border: 3px solid #1f2833;
	background-color: #45a29e;
	border-radius: 7px;
	margin-left: 40px;
	margin-right: 50px;
}
#content p{
	color: #1f2833;
	font-size: 22px;
	margin-left: 4px;
	font-family: "Courier New", monospace;
	font-style: oblique;
	font-weight: 900;
}
h1{
	color: #1f2833;
	background-color: #45a29e;
	margin-left: 70px;
	margin-right: 1350px;
	border-radius: 7px;
	padding-left: 3px;
}
#contact{
	border: 3px solid #45a29e;
	border-radius: 7px;
	background-color: #45a29e;
	color: #1f2833;
	margin-left: 70px;
	margin-right: 1260px;
	border-radius: 7px;
	padding-left: 3px;
	font-family: "Courier New", monospace;
	font-style: oblique;
	font-weight: 900;
	margin-bottom: 7px;
}
.pic{
	border: 3px solid #1f2833;
	border-radius: 7px;
	margin: 2px;
}
.container a{
	font-family: "Courier New", monospace;
	font-style: oblique;
	font-weight: 900;
	border: 10px;
	background-color: #45a29e;
	color: #1f2833;
	border-radius: 5px;
	padding: 5px;
	margin-top: 3px;
	margin-bottom:10px;
	margin-left: 70px;
}
.container a:hover {
    background-color: yellow;
}
.container a:active {
  background-color: #ffff99;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
footer{
	margin-bottom: -25px;
}
footer #footer p{
	border: 1px ;
	background-color: #45a29e;
	color: #1f2833;
	font-size: 15px;
	margin-left: -.5px;
	border-radius:3px;
}
